#clock {
  position: absolute;
  top: 0.6em;
  right: 1em;
}

#clock .digit {
  display: inline-block;
  border: 1px solid #000;
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  margin: 0;
  padding: 0.1em;
  border-radius: 5px;
  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
  width: 1.2em;

  background-color: #FFFFFF; /* Old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%,#DEDEDE 40%,#B6B6B6 100%);
  background: -webkit-linear-gradient(top, #FFFFFF 0%,#DEDEDE 40%,#B6B6B6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FFFFFF 0%,#DEDEDE 40%,#B6B6B6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FFFFFF 0%,#DEDEDE 40%,#B6B6B6 100%); /* IE10+ */
  background: linear-gradient(top, #FFFFFF 0%,#DEDEDE 40%,#B6B6B6 100%); /* W3C */
}