#clock {
  position: absolute;
  top: 0.1em;
  right: 1em;
  display: inline-block;
  background: transparent url(../img/weather-clear.png) no-repeat 8em 0.6em;
  height: 4em;
}
#clock .digits {
  float: left;
  display: inline-block;
  padding: 0.3em 0 0 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#clock .digit {
  display: inline-block;
  border: 1px solid #000;
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  margin: 0 0 0 0.1em;
  padding: 0.1em;
  border-radius: 5px;
  min-width: 1.5em;
  background-color: #FFFFFF;
}
#clock .details {
  display: inline-block;
  color: #FFF;  
  padding-left: 4em;
}
#clock .details span {
  clear: both;
  display: inline-block;
  float: right;
  min-width: 9em;
  font-size: 0.7em;
  text-align: right;
  text-shadow: 0 0 2px #000;
  white-space: nowrap;
}

#clock.digitsOnly .details {
  display: none;
}