body {
  background-color: #202020;
}

#pageHeader {
  color: #FFF;
  background-color: #202020;
  background: -moz-linear-gradient(top, #101010 0%, #202020 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #101010 0%,#202020 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #101010 0%,#202020 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #101010 0%,#202020 100%); /* IE10+ */
  background: linear-gradient(top, #101010 0%,#202020 100%); /* W3C */
  border-bottom: 1px solid #404040;
}
#pageHeader h1 {
  color: #808080
}

#visualization {
  border: 1px solid #404040;
}

.widget h2 {
  color: #606060;
  background-color: #202020;
  background: -moz-linear-gradient(top, #101010 0%, #202020 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #101010 0%,#202020 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #101010 0%,#202020 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #101010 0%,#202020 100%); /* IE10+ */
  background: linear-gradient(top, #101010 0%,#202020 100%); /* W3C */
}
.widget div.status {
}
.widget div.status.loading {
  background-color: #202020;
  background: url(../../img/loader.gif) no-repeat center 5px, -moz-linear-gradient(top, #101010 0%, #202020 100%); /* FF3.6+ */
  background: url(../../img/loader.gif) no-repeat center 5px, -webkit-linear-gradient(top, #101010 0%, #202020 100%); /* Chrome10+,Safari5.1+ */
  background: url(../../img/loader.gif) no-repeat center 5px, -o-linear-gradient(top, #101010 0%, #202020 100%); /* Opera 11.10+ */
  background: url(../../img/loader.gif) no-repeat center 5px, -ms-linear-gradient(top, #101010 0%, #202020 100%); /* IE10+ */
  background: url(../../img/loader.gif) no-repeat center 5px, linear-linear-gradient(top, #101010 0%, #202020 100%); /* W3C */
}

.widget .item, .widget > div {
  color: #808080;
  background-color: #202020;
  background: -moz-linear-gradient(top, #101010 0%, #202020 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #101010 0%,#202020 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #101010 0%,#202020 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #101010 0%,#202020 100%); /* IE10+ */
  background: linear-gradient(top, #101010 0%,#202020 100%); /* W3C */
}
.widget .changed {
  -webkit-animation: item-glow 1s ease-out 20 alternate;
  -moz-animation: item-glow 1s ease-out 20 alternate;
  animation: item-glow 1s ease-out 20 alternate;
}
.widget .warning {
  color: #000;
  background-color: #f57900; /* Old browsers */
  background: -moz-linear-gradient(top, #633100 0%, #f57900 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #633100 0%, #f57900 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #633100 0%, #f57900 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #633100 0%, #f57900 100%); /* IE10+ */
  background: linear-gradient(top, #633100 0%, #f57900 100%); /* W3C */
}
.widget .error {
  color: #aaa;
  background-color: #FF0000; /* Old browsers */
  background: -moz-linear-gradient(top, #570000 0%, #a40000 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top, #570000 0%, #a40000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #570000 0%, #a40000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #570000 0%, #a40000 100%); /* IE10+ */
  background: linear-gradient(top, #570000 0%, #a40000 100%); /* W3C */
}

.spriteIcon.hasTitle {
  background: #202020;
}
.dateIcon .day {
  background: #202020;
}
#clock .digit {
  border: none;
  color: #606060;
  background: transparent;
  padding: 0;
}
#clock .digit:last-of-type:before {
  content: ':';
}
#clock .details {
  color: #808080;
}

/** Animations **/
@-webkit-keyframes item-glow {
  0% {
    box-shadow: inset 0 0 20px rgba(252, 175, 62, 0);
  }
  100% {
    box-shadow: inset 0 0 20px rgba(252, 175, 62, 0.5);
  }
}
@-moz-keyframes item-glow {
  0% {
    box-shadow: inset 0 0 20px rgba(252, 175, 62, 0);
  }
  100% {
    box-shadow: inset 0 0 20px rgba(252, 175, 62, 0.5);
  }
}
@keyframes item-glow {
  0% {
    box-shadow: inset 0 0 20px rgba(252, 175, 62, 0);
  }
  100% {
    box-shadow: inset 0 0 20px rgba(252, 175, 62, 0.5);
  }
}